<div class="row card-search-list card-search-results-grid-4-text">
	{{#each results.cards}}
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="card">
			
			<div class="header bg-{{faction}}">
				{{#if faction}}
				<div class="box-left">
					<div class="db-icon db-icon-{{faction}}"></div>
				</div>
				{{/if}}
				<div class="box-center">
					<h4 class="primary-text">
						<a href="{{cardUrl this}}">{{name}}</a>
					</h4>
					{{!--<div class="secondary-text" style="position: relative;">{{warlord.name}}</div>--}}
				</div>
			</div>
			
			<div class="box-center content">
				<strong>{{searchLinkType this}}. {{#if faction}}{{searchLinkFaction this}}.{{/if}}</strong><br/>
				{{#if trait}}<span><i><strong>{{searchLinkTraits this}}</strong></i></span><br/>{{/if}}
				<span>
					{{#if cost}}<strong>{{loc 'card.cost'}}:</strong> {{cost}}.{{/if}} 
					{{#if shield}}<strong>{{loc 'card.shieldIcons.sh'}}:</strong> {{shield}}.{{/if}} 
					{{#if command}}{{#unlessEqual type 'warlord'}}<strong>{{loc 'card.commandIcons.sh'}}:</strong> {{command}}.{{/unlessEqual}}{{/if}} 
					{{#if attack}}<strong>{{loc 'card.attack.sh'}}:</strong> {{attack}}.{{/if}} 
					{{#if hitPoints}}<strong>{{loc 'card.hp.sh'}}:</strong> {{hitPoints}}.{{/if}} 
					{{#if startingHandSize}}<strong>{{loc 'card.startingHandSize.sh'}}:</strong> {{startingHandSize}}.{{/if}} 
					{{#if startingResources}}<strong>{{loc 'card.startingResources.sh'}}:</strong> {{startingResources}}.{{/if}} 
				</span><br/>
				{{#unlessEqual type 'planet'}}{{#unlessEqual type 'token'}}<br/>{{/unlessEqual}}{{/unlessEqual}}
				{{#if text}}{{{cardTextHtml text}}}<br/><br/>{{/if}}
				{{searchLinkSetName this}} #{{number}}
			</div>
			
		</div>	
	</div>
	{{/each}}
</div>
