<div class="filter-content">
	<ul class="tree-node">
	{{#each tree.nodes}}
		<li {{#if type}}data-node-type="{{type}}"{{/if}}><input type="checkbox" value="{{techName}}" {{#if released}}checked="checked"{{/if}}>{{name}}
		{{#if nodes}}
			<ul class="tree-node">
			{{#each nodes}}
				<li {{#if type}}data-node-type="{{type}}"{{/if}}><input type="checkbox" value="{{techName}}" {{#if released}}checked="checked"{{/if}}>{{name}}</li>
			{{/each}}
			</ul>
		{{/if}}
		</li>
	{{/each}}		
	</ul>
	<div class="pull-right popover-buttons">
		<label class="btn btn-default btn-primary filter-apply"><span class="glyphicon glyphicon-ok"></span></label>
		<label class="btn btn-default filter-cancel"><span class="glyphicon glyphicon-remove"></span></label>
	</div>
</div>