<div class="filter-content">
	<table class="stats-filter-group">
		<tbody>
			<tr>
				<td><input type="checkbox"></td>
				<td class="slider-container disabled">
					<div class="header">{{loc 'card.cost.sh'}} [<span class="label-min"></span>, <span class="label-max"></span>]</div>
					<div id="costSlider" class="slider" data-filter-key="cost" data-slider-min="0" data-slider-max="8" />	
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td class="slider-container disabled">
					<div class="header">{{loc 'card.commandIcons.sh'}} [<span class="label-min"></span>, <span class="label-max"></span>]</div>
					<div id="commandSlider" class="slider" data-filter-key="command" data-slider-min="0" data-slider-max="4" />
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td class="slider-container disabled">
					<div class="header">{{loc 'card.shieldIcons.sh'}} [<span class="label-min"></span>, <span class="label-max"></span>]</div>
					<div id="shieldSlider" class="slider" data-filter-key="shield" data-slider-min="0" data-slider-max="3" />
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td class="slider-container disabled">
					<div class="header">{{loc 'card.attack.sh'}} [<span class="label-min"></span>, <span class="label-max"></span>]</div>
					<div id="attackSlider" class="slider" data-filter-key="attack" data-slider-min="0" data-slider-max="9" />
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td class="slider-container disabled">
					<div class="header">{{loc 'card.hp.sh'}} [<span class="label-min"></span>, <span class="label-max"></span>]</div>
					<div id="hpSlider" class="slider" data-filter-key="hitPoints" data-slider-min="0" data-slider-max="9" />
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right popover-buttons">
		<label class="btn btn-default btn-primary filter-apply"><span class="glyphicon glyphicon-ok"></span></label>
		<label class="btn btn-default filter-cancel"><span class="glyphicon glyphicon-remove"></span></label>
	</div>
</div>