<div class="row card-search-results-grid-4-text">
	{{#each results.cards}}
	<div class="col-xs-12 col-sm-6 col-md-4 style="padding-bottom: 10px;">
		<div class="card">
			<h4 class="{{#ifEqual type 'planet'}}bg-neutral{{else}}bg-{{faction}}{{/ifEqual}}">{{name}}</h4>
			<strong>{{searchLinkType this}}. {{#if faction}}{{searchLinkFaction this}}.{{/if}}</strong><br/>
			{{#if trait}}<span><i><strong>{{searchLinkTraits this}}</strong></i></span><br/>{{/if}}
			<span>
				{{#if cost}}<strong>{{loc 'card.cost'}}:</strong> {{cost}}.{{/if}} 
				{{#if shield}}<strong>{{loc 'card.shieldIcons.sh'}}:</strong> {{shield}}.{{/if}} 
				{{#if command}}{{#unlessEqual type 'warlord'}}<strong>{{loc 'card.commandIcons.sh'}}:</strong> {{command}}.{{/unlessEqual}}{{/if}} 
				{{#if attack}}<strong>{{loc 'card.attack.sh'}}:</strong> {{attack}}.{{/if}} 
				{{#if hitPoints}}<strong>{{loc 'card.hp.sh'}}:</strong> {{hitPoints}}.{{/if}} 
				{{#if startingHandSize}}<strong>{{loc 'card.startingHandSize.sh'}}:</strong> {{startingHandSize}}.{{/if}} 
				{{#if startingResources}}<strong>{{loc 'card.startingResources.sh'}}:</strong> {{startingResources}}.{{/if}} 
			</span><br/><br/>
			{{#if text}}{{{htmlText}}}<br/><br/>{{/if}}
			{{searchLinkSetName this}} #{{number}}
		</div>	
	</div>
	{{/each}}
</div>
