<div class="row members-grid members-grid-sm">
	{{#each members}}
	<div class="col-xs-8 col-sm-4 members-grid-item text" data-card-id="{{cardId}}">
		<table>
			<tbody>
				<tr>
					<td>
						<a data-card-id="{{cardId}}" data-image-base="{{card.imageBase}}" style="cursor: pointer;">
							<img src="{{cardImagePath card.imageBase}}" class="card-xs" />
						</a>
					</td>
					<td>
						<div class="btn-group btn-group-qty">
							{{#for 0 availableQuantity 1}}
							<label class="btn btn-default" {{#smartIf ../../readOnly}}disabled="disabled"{{/smartIf}} data-quantity="{{this}}">{{this}}</label>
							{{/for}}
						</div>
						<div style="line-height: 1;">
							<small><strong>{{card.name}}</strong></small>
							<br />
							<span class="secondary-text">
								{{{na card.cost}}}/{{{na card.shield}}}/{{{na card.command}}}/{{{na card.attack}}}/{{{na card.hitPoints}}}
							</span>
							<br />
							<span class="secondary-text">{{searchLinkType card}}</span>
							<br />
							<span class="secondary-text">{{searchLinkTraits card}}</span>
							<br />
							<span class="secondary-text">{{searchLinkSetName card}}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{/each}}
</div>