<div class="block folding-block">
	<div class="block-header">
		<div class="block-header-text">
			<span class="glyphicon glyphicon-pencil"></span>
			&nbsp;{{loc 'core.edit2'}}
		</div>
	</div>
	<div class="block-content">
		<div class="form-group">
			<label for="deckName">{{loc 'core.name'}}</label>
			<input class="form-control" id="deckName" type="text"placeholder="{{loc 'core.deckName'}}" value="{{deck.name}}" />
		</div>
		<div class="form-group">
			<label for="deckDescription">{{loc 'core.description'}}</label>
			<textarea class="form-control" id="deckDescription" placeholder="{{loc 'core.deckDescription'}}" rows="10">{{deck.description}}</textarea>
		</div>
		<a href="http://en.wikipedia.org/wiki/Markdown#Example" target="_blank">{{loc 'core.markdownSyntaxExamples'}}</a>
	</div>
</div>

<div class="block folding-block">
	<div class="block-header">
		<div class="block-header-text">
			<span class="glyphicon glyphicon-eye-open"></span>
			&nbsp;{{loc 'core.preview'}}
		</div>
	</div>
	<div class="block-content">
		<h2 id="deckNamePreview">{{{markdown deck.name}}}</h2>
		<h5 style="color: gray;">{{deck.username}}</h5>
		<div id="deckDescriptionPreview">{{{markdown deck.description}}}</div>
	</div>
</div>