<div id="exportModal" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{loc 'core.close'}}</span></button>
				<h4 class="modal-title">{{loc 'core.exportDeck'}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="mg-control-group col-md-6">
						<label><strong>{{loc 'core.groupBy'}}:</strong></label>
						<div class="btn-group btn-group-sm">
							<label class="btn btn-default" data-group-key="typeDisplay">{{loc 'card.type'}}</label>
							<label class="btn btn-default" data-group-key="memberQuantity">{{loc 'card.quantity'}}</label>
							<label class="btn btn-default" data-group-key="setName">{{loc 'card.set'}}</label>
							<label class="btn btn-default" data-group-key="factionDisplay">{{loc 'card.faction'}}</label>
							<label class="btn btn-default" data-group-key="cost">{{loc 'card.cost'}}</label>
						</div>
					</div>
					<div class="mg-control-sort col-md-4">
						<label><strong>{{loc 'core.sortBy'}}:</strong></label>
						<div class="btn-group btn-group-sm">
							<label class="btn btn-default" data-sort-key="name">{{loc 'card.name'}}</label>
							<label class="btn btn-default" data-sort-key="memberQuantity">{{loc 'card.quantity'}}</label>
							<label class="btn btn-default" data-sort-key="cost">{{loc 'card.cost'}}</label>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#exportPlain" role="tab" data-toggle="tab">{{loc 'core.exportPlain'}}</a></li>
					<li><a href="#exportBBCode" role="tab" data-toggle="tab">{{loc 'core.exportBBCode'}}</a></li>
					<li><a href="#exportBackup" role="tab" data-toggle="tab">{{loc 'core.exportBackup'}}</a></li>
				</ul>

				<div class="tab-content" style="padding-top: 20px;">
					<div class="tab-pane active" id="exportPlain"><textarea id="1" class="form-control" rows="20">1</textarea></div>
					<div class="tab-pane" id="exportBBCode"><textarea id="2" class="form-control" rows="20">2</textarea></div>
					<div class="tab-pane" id="exportBackup"><textarea id="3" class="form-control" rows="20">3</textarea></div>
				</div>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="exportCopyAndCloseButton">
					<span class="glyphicon glyphicon-copy"></span>&nbsp;{{loc 'core.copyToClipboardAndClose'}}
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="exportCloseButton">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;{{loc 'core.close'}}
				</button>
			</div>
		</div>
	</div>
</div>
