<table class="deck-stats-table">
	<thead>
		<tr>
			<th></th>
			<th><span data-toggle="tooltip" title="{{loc 'core.cardsQuantity'}}">{{loc 'core.cardsQuantity.sh'}}</span></th>
			<th><span data-toggle="tooltip" title="{{loc 'core.sum'}}">{{loc 'core.sum.sh'}}</span></th>
			<th><span data-toggle="tooltip" title="{{loc 'core.average'}}">{{loc 'core.average.sh'}}</span></th>
		</tr>
	</thead>
	<tbody>
		{{#each stats}}
		<tr>
			<th>{{loc name}}</span></th>
			<td>{{quantity}}{{#if quantityX}}+{{quantityX}}X{{/if}}</span></td>
			<td>{{sum}}</span></td>
			<td>{{average}}</span></td>
		</tr>
		{{/each}}
	</tbody>
</table>