<div class="container">

	{{#unless deck ~}}
	
	<div style="text-align: center; font-size: 20px; margin-top: 20px;">
		Loading data...
	</div>
	
	{{else}}
	
	<div class="deck user-deck">
		
		<div class="row">

			{{!-- left column --}}
		
			<div class="col-md-5 left">	

				{{!-- header --}}
			
				{{#with deck}}
				<div class="header">				
					<div class="box-center">
						{{#if name}}
						<h3>{{name}}</h3>
						{{else}}
						<h2>--&nbsp;{{loc 'core.unsavedDeck'}}&nbsp;--</h2>
						{{/if}}
						
						<div style="position: relative;"> {{#if username}}{{username}} &#8226; {{/if}} 
							<span data-toggle="tooltip" data-placement="bottom" title="{{loc 'core.created'}}: {{moment createDate}}">
								{{~ momentFromNow createDate ~}}
							</span>
							{{#unlessEqual createDate modifyDate}}
							&nbsp;&#8226;&nbsp;
							<span data-toggle="tooltip" data-placement="bottom" title="{{loc 'core.modified'}}: {{moment modifyDate}}">
								{{momentFromNow modifyDate}}
							</span>
							{{/unlessEqual}}
							
							<div class="deck-icons">
								{{#if tournamentPlace}}
								<i class="{{translate tournamentPlace 'tournamentPlaceIconClass'}}" data-toggle="tooltip"
									data-placement="bottom" title="{{loc (translate tournamentPlace 'tournamentPlaceDisplay')}}"></i>
								{{/if}}
								{{#if tournamentType}}
								<i class="{{translate tournamentType 'tournamentTypeIconClass'}}" data-toggle="tooltip"
									data-placement="bottom" title="{{loc (translate tournamentType 'tournamentTypeDisplay')}}"
									style="font-size: 0.9em;"></i>
								{{/if}}
								{{#if totalDeckInterest}}
								{{#if userDeckInterest}}
								<i class="{{translate userDeckInterest 'interestIconClass' kind='favourite'}}" style="margin-left: 10px;"></i>
								{{totalDeckInterest.favourite}}
								<i class="{{translate userDeckInterest 'interestIconClass' kind='rating'}}"></i>
								{{totalDeckInterest.rating}}
								{{/if}}
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				{{/with}}
				
				{{!-- header end --}}
				
				{{!-- deck summary --}}

				<div class="actions-container">
					{{> deck-actions this}}
				</div>
				
				<div class="deck-heroes-view-ctr"></div>
				<div class="members-groups-view-ctr"></div>	
				<div class="members-charts-view-ctr"></div>
				
				{{!-- deck summary end --}}
				
			</div>
			
			{{!-- left column end --}}
			
			
			{{!-- right column --}}
			
			<div class="col-md-7 right">
				<ul class="nav nav-tabs lite" role="tablist" id="tabs1ul">
					<li role="presentation" class="active">
						<a href="#deckDeckTab" aria-controls="deck" role="tab" data-toggle="tab"
							class="bor-{{deck.warlord.faction}}">{{loc 'core.deck'}}</a>
					</li>
					<li role="presentation">
						<a href="#deckDescriptionTab" aria-controls="description" role="tab" data-toggle="tab"
							class="bor-{{deck.warlord.faction}}">{{loc 'core.description'}}</a>
					</li>
					<li role="presentation">
						<a href="#deckUtilitiesTab" aria-controls="utilities" role="tab" data-toggle="tab"
							class="bor-{{deck.warlord.faction}}">{{loc 'core.utilities'}}</a>
					</li>
					{{#if deck.id ~}}
					<li role="presentation">
						<a href="#deckSharingTab" aria-controls="sharing" role="tab" data-toggle="tab"
							class="bor-{{deck.warlord.faction}}">{{loc 'core.sharing'}}</a>
					</li>
					{{/if ~}}
				</ul>
	
				<div class="tab-content">
	
					{{!-- deck tab --}}
		    		
		    		<div id="deckDeckTab" role="tabpanel" class="tab-pane active">
						<div class="members-list-filter-container">
							<div class="form-inline">
								<div class="btn-group select-one layout-group">
									<label class="btn btn-default" data-members-layout="list"><span class="glyphicon glyphicon-align-justify"></span></label>
									<label class="btn btn-default" data-members-layout="grid-6"><span class="glyphicon glyphicon-th"></span></label>
									<label class="btn btn-default" data-members-layout="grid-4"><span class="glyphicon glyphicon-th-large"></span></label>
									{{!--
									<label class="btn btn-default" data-members-layout="grid-3"><span class="glyphicon glyphicon-th"></span></label>
									<label class="btn btn-default" data-members-layout="grid-2"><span class="glyphicon glyphicon-th-large"></span></label>
									--}}
								</div>
								
								<label id="configTrigger" class="btn btn-default btn-standard filter-group">
									<span class="glyphicon glyphicon-cog"></span>
								</label>
	
								<select class="form-control sort-control filter-group">
									<option value="default">{{loc 'core.defaultSorting'}}</option>
									{{#each sortItems ~}}
									<option value="{{value}},asc">{{label}}&nbsp;&#9650;</option>
									<option value="{{value}},desc">{{label}}&nbsp;&#9660;</option>
									{{/each}}
								</select>
								
								<select class="form-control sort-control filter-group">
									<option value="default">{{loc 'core.defaultSorting'}}</option>
									{{#each sortItems ~}}
									<option value="{{value}},asc">{{label}}&nbsp;&#9650;</option>
									<option value="{{value}},desc">{{label}}&nbsp;&#9660;</option>
									{{/each}}
								</select>
								
								<div class="btn-group filter-group select-many filter-selection">
									<label class="btn btn-default" data-selection="not-selected" data-toggle="tooltip" title="{{loc 'core.notSelected'}}"><span>0</span></label>
									<label class="btn btn-default" data-selection="selected" data-toggle="tooltip" title="{{loc 'core.selected'}}"><span>1+</span></label>
								</div>
	
								<div class="btn-group filter-group select-many filter-faction">
									{{#each filterItems.factions}}							
									<label class="btn btn-default" data-faction="{{techName}}" data-toggle="tooltip" title="{{name}}">
										<i class="db-icon db-icon-{{techName}}"></i>
									</label>
									{{/each}}
								</div>
	
								<div class="btn-group filter-group select-many filter-card-type">
									{{#each filterItems.cardTypes}}
									<label class="btn btn-default" data-card-type="{{techName}}" data-toggle="tooltip" title="{{name}}">
										<i class="{{cardTypeToIconClass techName}}"></i>
									</label>
									{{/each}}
								</div>
								
								<label id="cardSetFilterTrigger" class="btn btn-default btn-standard filter-group">
									<span class="glyphicon glyphicon-filter"></span>&nbsp;{{loc 'core.sets'}}
								</label>
	
								<label id="cardStatFilterTrigger" class="btn btn-default btn-standard filter-group">
									<span class="glyphicon glyphicon-filter"></span>&nbsp;{{loc 'core.stats.sh'}}
								</label>
							</div>

							<div class="form">
								<div id="fastFilter" class="input-group" style="margin-bottom: 10px;">
									<span class="input-group-addon">
								        <input type="checkbox" data-text-type="name" aria-label="...">Name&nbsp;
								        <input type="checkbox" data-text-type="traits" aria-label="...">Traits&nbsp;
								        <input type="checkbox" data-text-type="text" aria-label="...">Text&nbsp;
								      </span>
									<input type="text" class="form-control" placeholder="Name or traits or text" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
									</span>
								</div>
							</div>
							
								{{!--
								<div id="textFilter" class="input-group" style="margin-bottom: 10px;">
									<input class="form-control" id="mainSearchInput" type="text" placeholder="{{loc 'core.nameOrTraitOrKeyword'}}" value="" />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
								--}}
								
						</div>
						<div class="members-list-view-ctr"></div>
					</div>
					
					{{!-- description tab --}}
					
					<div id="deckDescriptionTab" role="tabpanel" class="tab-pane">
						<div class="deck-description-view-ctr"></div>
					</div>
					
					{{!-- utilities tab --}}
					
					<div id="deckUtilitiesTab" role="tabpanel" class="tab-pane">
						<div class="block folding-block">
							<div class="block-header">
								<div class="block-header-text bg-{{deck.warlord.faction}}">
									<span class="glyphicon glyphicon-random"></span>
									&nbsp;{{loc 'core.draw.simulator'}}
								</div>
							</div>
							<div class="block-content">
								<div class="deck-draw-view-ctr"></div>
							</div>
						</div>
						<div class="block folding-block">
							<div class="block-header">
								<div class="block-header-text bg-{{deck.warlord.faction}}">
									<span class="glyphicon glyphicon-stats"></span>
									&nbsp;{{loc 'core.stats'}}
								</div>
							</div>
							<div class="block-content">Soon...</div>
						</div>
					</div>
	
					{{!-- sharing tab --}}		
	
					{{#if deck.id ~}}
					<div id="deckSharingTab" role="tabpanel" class="tab-pane">				
						<div class="block folding-block">
							<div class="block-header">
								<div class="block-header-text bg-{{deck.warlord.faction}}">
									<span class="glyphicon glyphicon-share"></span>
									&nbsp;{{loc 'core.publishedVersions'}}
								</div>
							</div>
							<div class="block-content">
								<div style="margin-bottom: 10px;">
									<label id="deckPublishButton" class="btn btn-raised btn-{{deck.warlord.faction}}">
										<span class="glyphicon glyphicon-share"></span>&nbsp;{{loc 'core.publishDeck'}}							
									</label>							
								</div>
								<div id="deckPublishedDecksBlock"></div>
							</div>
						</div>
	
						<div class="block folding-block">
							<div class="block-header">
								<div class="block-header-text bg-{{deck.warlord.faction}}">
									<span class="glyphicon glyphicon-link"></span>
									&nbsp;{{loc 'core.privateLinks'}}
								</div>
							</div>
							<div class="block-content">
								<div style="margin-bottom: 10px;">
									<input id="createLinkInput" class="form-control" type="text" placeholder="{{loc 'core.linkDescription'}}" style="width: 300px; float: left; margin-right: 10px;" maxlength="50" />
									<label id="createLinkButton" class="btn btn-raised btn-{{deck.warlord.faction}}">
										<span class="glyphicon glyphicon-plus"></span>&nbsp;{{loc 'core.createLink'}}
									</label>
								</div>
								<div id="deckPrivateLinkBlock"></div>
							</div>
						</div>
					</div>
					{{/if ~}}
					
				</div>
			</div>

			{{!-- right column end --}}

		</div>
		
	</div>
</div>
	
{{/unless}}